
# Stripe Publishable key 
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here

# Backend URL
VITE_BASE_URL=http://localhost:5009

# Route Basename
VITE_ROUTE_BASENAME=/

# Google Place Input Api Key
VITE_GOOGLE_PLACE_INPUT_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Creator Hub Url
VITE_CREATOR_HUB_URL=https://creator-hub-stg.formyfansonly.com/

